* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */
.container {
    display: grid;
    
    /* REQUIRED BY ASSIGNMENT */
    grid-template-columns: 
    minmax(0px, 1fr) 
    repeat(6, minmax(0, 175px)) 
    minmax(0px, 1fr);
    
    column-gap: 20px; /* left/right spacing */
    row-gap: 0px;
    background-color: rgba(68, 0, 0, 0.4);
}

/* HEADER */
.header {
    grid-column: 1 / -1;
    background-color: rgba(255, 0, 0, 0.4);
    height: 60px;
}

/* HERO */
.hero {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-color: rgba(255, 165, 0, 0.4);
    height: 240px;
}

/* FEATURED */
.featured {
    grid-column: 2 / 8;
    background-color: rgba(255, 255, 0, 0.4);
    height: 200px;
}

/* ABOUT */
.about {
    grid-column: 2 / 8;
    background-color: rgba(0, 128, 0, 0.4);
    height: 150px;
}

/* Contact */
.contact {
    grid-column: 2 / 8;
    background-color: rgba(128, 0, 128, 0.4);
    height: 120px;
}

/* FOOTER (full width) */
.footer {
    grid-column: 1 / -1;
    background-color: rgba(165, 42, 42, 0.5);
    height: 100px;
}